API_KEY=
JWT_SECRET=
PORT=3000
APP_URL=http://localhost:4200

DB_NAME=dbname
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_SCHEMA_AUTH=auth
DB_SCHEMA_CORE=core

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@midominio.com
MAIL_FROM_NAME=APP_NAME