<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .header {
            background-repeat: no-repeat;
        }

        .footer {
            background-repeat: no-repeat;
        }

        .text {
            color: red;
        }
    </style>
</head>
<body>
<div>
    <img class="header" src="cid:header" alt="">
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h6 class="text">Estimado/a.</h6>

            <h6>{{data.user.name}} {{data.user.lastname}}</h6>

            <br>
            <p>Reciba un cordial saludo.</p>

            <br>
            <p>Notificamos que su código es:</p>
            <h2>{{data.token}}</h2>
            <br>

            <p>
                <b>Saludos Cordiales,</b>
            </p>

            <br>

            <p>
                <b>Sistema de Gestión Académica ({{system}})</b>
            </p>
        </div>
    </div>
</div>

<div>
    <img class="footer" src="cid:footer" alt="">
</div>
</body>
</html>


